.thankyou{
    height: 80vh;
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;
}

.thankyou-content {
    width: 80%;
  
    display: flex;
    flex-direction: column;
    justify-content: center;
    /* Add some padding for better appearance */
    background-color: #fff; /* Optional: To make the shadow more visible */
    border-radius: 10px; /* Optional: To round the corners */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); 
}

.thankyou-content .thankyou-heading{
    /* width: 100%; */
    display: flex;
    justify-content: center;
}
.thankyou-content h1{
    font-size: 50px;
    font-weight: 500;
}


.thankyou-content p{
    margin-top: -30px;
    padding-left: 20px;
    font-size: 30px;
    font-weight: 300;
}
