.content{
    display: flex;
    flex-direction: column;
    height: 80vh;
    width: 100vw;
    justify-content: center;
    align-items: center;
}
.home-heading {
    font-size: 60px;
     font-weight: 200;
     text-align: center;

}

.menu-btn{
    padding: 15px 20px;
    margin-top: 20px;
    background-color: rgb(63,81,181);
    border: none;
    font-size: 20px;
    color: white;

}